/* Interact button */

.js-nbinteract-widget {
  background-color: #477dca;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 1.1em;
  font-weight: 700;
  margin-bottom: 1.2em;
  padding: 0.4em 1em;
}

.js-nbinteract-widget:disabled,
.js-nbinteract-widget[disabled] {
  background-color: #909090;
}

#ipython-notebook .interact-button:hover,
#ipython-notebook .interact-button:focus {
  text-decoration: none;
}

/* Code cells */

.input_area pre {
  border: 1px solid #ccc;
  margin-bottom: 8px;
}

.output_text pre {
  background-color: #f8f8fb;
}

.output_html,
.output_png::before {
  padding: 1em 1.5em;
}

.ansicyan,
pre .kn {
  color: #0080ff;
}

.ansigreen,
pre .n,
pre .nb {
  color: #690;
}

.ansired {
  color: red;
}

pre .nn {
  color: #3e3e3e;
}

.output_png img,
p img {
  max-width: 100%;
}

pre .o,
pre .k {
  color: purple;
}

pre .p,
pre .c {
  color: #999;
}

.hl-ipython3 pre::before,
.output_subarea pre::before,
.output_html::before,
.output_png::before {
  color: #ccc;
  float: left;
  margin-bottom: 0.25em;
  width: 100%;
}

blockquote {
  background-color: rgba(245, 245, 245, 0.8);
  border-left: 5px solid #eee;
}

blockquote p {
  margin-top: 0;
}
