/**
 * Styling for textbook pages. Jupyter notebooks generate their own HTML markup
 * which we style under the #ipython-notebook selector.
 *
 * Most of the textbook content is styled using this component.
 *
 * [1]: Don't add horizontal padding since the content lies within a .o-wrapper
 * [2]: Since we use JS to focus the page on load, hide the outline to avoid
 *   visual cruft.
 *
 * Notebook styling:
 *
 * [3]: Add a border around cell input to distinguish it from the output.
 * [4]: Some tables are too wide for the page on smaller screens so we let the
 *   user scroll horizontally.
 * [5]: Inline code snippets (usually variable names) should have a gray bg.
 */

.c-textbook__page {
  /* [1] */
  padding: $spacing-unit-small 0;

  @include mq($from: tablet, $until: desktop) {
    padding-left: $spacing-unit;
    padding-right: $spacing-unit;
  }

  @include mq($from: desktop) {
    padding-left: $spacing-unit-large;
    padding-right: $spacing-unit-large;
  }

  &:focus {
    /* [2] */
    outline: none;
  }
}

/**
 * Jupyter notebook styling
 */

#ipython-notebook {
  @include inuit-clearfix();

  .input_area pre,
  .output_text pre {
    background-color: $color-light-gray;
    font-size: 0.9em;
    margin-bottom: $spacing-unit-small;
    padding: $spacing-unit-small;
    overflow-x: scroll;
  }

  .input_area pre {
    /* [3] */
    border: 1px solid $color-dark-gray;
  }

  .output_html {
    /* [4] */
    overflow-x: scroll;
  }

  /* [5] */
  code {
    background-color: $color-light-gray;
    padding: 4px;

    @include inuit-font-size(14px);
  }

  blockquote {
    margin: $spacing-unit-small;
    padding: $spacing-unit-med;
    border-left: 4px solid $color-dark-gray;

    p:last-child {
      margin-bottom: 0;
    }
  }

  .cell.nbinteract-left {
    width: 50%;
    float: left;
  }

  .cell.nbinteract-right {
    width: 50%;
    float: right;
  }

  .cell.nbinteract-hide_in > .input {
    display: none;
  }

  .cell.nbinteract-hide_out > .output_wrapper {
    display: none;
  }

  .cell:after {
    content: '';
    display: table;
    clear: both;
  }

  div.output_subarea {
    max-width: initial;
  }

  .jp-OutputPrompt {
    display: none;
  }
}
